.DS_Store
.apt_generated
android-support-v4.jar.properties
bin
gen
proguard
.project
.settings
local.properties
kecheng/reports
.metadata
TDDSource
TDDTest
KechengTDD/junit
KechengTDD/emma
KechengTDD/outinstr
android.jar

kecheng/res/values/com_crashlytics_export_strings.xml

kecheng/assets/crashlytics-build.properties
